body{
    table{
        align-items: center;
        justify-content: center;
        padding: 1%;
        background-color: whitesmoke;
        .form-control{
            width: 20vw;
        }
    }
}